html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-size: 16px;

    @include responsive($tabletSmall) {
        font-size: vw(16);
    }
}

* {
    box-sizing: border-box;
}

main {
    position: relative;
    z-index: 5;
}
